ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    overflow: hidden;
    background: url(../images/parchment2.jpg);
    border-radius:25px;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    font-family: 'Supermercado One', cursive;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: rgb(196, 170, 55);
    color: black;
}


body {
    background-size: cover;
    background: url(../images/home.jpg) left top no-repeat;
    padding:20px;
}
    
   

.table {
    background: url(../images/parchment2.jpg);
    opacity: 0.9;
    border-radius:25px;
}

h1 {
    text-align: center;
    font-family: 'Supermercado One', cursive;
}

table {
    border-collapse:separate;
    border:solid  rgb(196, 170, 55);
    border-radius:25px;
    -moz-border-radius:10px;
    padding:12px;
}

td, th {
    border-left:solid black 1px;
    border-top:solid black 1px;
}

th {
    border-top: none;

}

td:first-child, th:first-child {
     border-left: none;
}